.spacer{
  margin-top:2rem;
}
.mynav{
  color: oldlace;
  background: grey;
}
@media (max-width: 500px) {
  .float-me {
     float: left;
   }
 }
 
  @media (min-width: 501px) {
  .float-me {
     float: right;
   }
 }
